@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


#themeIcon {
  font-size: 1.3rem; /* Adjust icon size */
  transition: color 1.3s; /* Smooth transition for color */
}

/* Optional: Add styles for icon when switch is checked (dark mode) */
#themeToggleSwitch:checked + .form-check-label #themeIcon {
  color: pink; /* Change icon color in dark mode */
}

/* Light mode icon color */
[data-bs-theme="light"] #themeIcon {
  color: pink; /* Yellow color for the sun icon in light mode */
}

/* Dark mode icon color */
[data-bs-theme="dark"] #themeIcon {
  color: pink; /* White color for the moon icon in dark mode */
}


.roco {
   font-size: 50px;
   font-family: 'Poppins', sans-serif; /* Updated to use Poppins */
}

.hello {
   font-size: 30px;
   font-family: 'Poppins', sans-serif; /* Updated to use Poppins */
}

.role {
   font-size: 30px;
   font-family: 'Poppins', sans-serif; /* Updated to use Poppins */

}

.rounded-circle {
   width: 350px; /* Adjust size as needed */
   height: 350px; /* Same height to maintain circular shape */
}

#street-view {
   width: 100%;
   height: 500px;
}

.pink-shadow {
   box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3); /* Slightly pink shadow */
}
.rounded-circle.shadow {
   box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3); /* Slightly pink shadow */
}

.shadow-img {
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 0px -3px rgba(255, 105, 180, 0.5); /* Darker pink shadow */
   -moz-box-shadow: 10px 10px 0px -3px rgba(255, 105, 180, 0.5); /* Darker pink shadow */
   box-shadow: 10px 10px 0px -3px rgba(255, 105, 180, 0.5); /* Darker pink shadow */
}

.rounded-img {
   border-radius: 10px; /* Adjust the value to control the roundness */
}

.carousel-item img {
   height: 500px; /* Set a fixed height for the images */
   width: 100%; /* Make sure the images fill the width of the container */
   object-fit: fit; /* Cover ensures the image fills the container while maintaining its aspect ratio */
 }

 .card {
   border: none;
   outline: none;
 }

 .card p{
   color: gray;
 }

 .card-1 {
   background-color: #F8E8EE;
 }

 .card-2 {
   background-color: #F8E8EE;
 }

 .card-3 {
   background-color: #F8E8EE;
 }

 .circle {
   height: 70px;
   width: 70px;
   background-color: pink;
   color: black;
   padding: 12px;
   border-radius: 50%;
   display: inline-block;
   margin-bottom: 20px;
   font-size:  1.7rem;
   transition: background-color 0.5s, color 0.5s;
 }

 .card-1:hover .circle {
   background-color: black;
   color: pink;
 }

 .card-2:hover .circle {
   background-color: black;
   color: pink;
 }

 .card-3:hover .circle {
   background-color: black;
   color: pink;
 }
 
 .progress .progress-bar{
  
  color: black;

 }

 .progress-bar-pink {
  background-color: pink;
}

.zoom-effect {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.07); /* Adjust the scale factor as needed */
}

.parkbai {
  width: 50px;
  height: 50px;
}

.parkbai_content{
text-align: justify;

}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns images to the left */
}

.zigzag-img {
  width: 100px; 
  height: 100px; /* Maintain consistent size */
}

.first-img {
  
  margin-top: 20%;
  margin-left: 130%; /* Adds left margin to the first image */
  
}

.second-img {
  margin-right: 20%; /* Adds right margin to the second image */
  margin-left: 5%;
  align-self: flex-end; /* Aligns the second image to the right */
}

.third-img {
  margin-right: 37%; /* Adds right margin to the second image */
  margin-bottom: 10px;   /* Adds some space between the images */
  align-self: flex-end; /* Aligns the second image to the right */
}

.carousel-control-next-icon {
  filter: invert(85%) sepia(45%) saturate(340%) hue-rotate(320deg) brightness(105%) contrast(95%);
}

.carousel-control-prev-icon {
  filter: invert(85%) sepia(45%) saturate(340%) hue-rotate(320deg) brightness(105%) contrast(95%);
}

.mobile-img {
margin-left: 25%;
}

.message {
  height: 200px;
}

















